{{=<% %>=}}
mode: 'usage'
source: '<%source%>'
filePattern: '*.php'
formatter: 'PhpDA\Writer\Strategy\<%formatter%>'
target: '<%target%>'
groupLength: <%groupLength%><%^groupLength%>1<%/groupLength%>
visitor:
  - PhpDA\Parser\Visitor\TagCollector
  - PhpDA\Parser\Visitor\NamespacedStringCollector
visitorOptions:
  PhpDA\Parser\Visitor\Required\DeclaredNamespaceCollector: {sliceLength: -1}
  PhpDA\Parser\Visitor\Required\MetaNamespaceCollector: {sliceLength: -1}
  PhpDA\Parser\Visitor\Required\UsedNamespaceCollector: {sliceLength: -1}
  PhpDA\Parser\Visitor\TagCollector: {sliceLength: -1}
  PhpDA\Parser\Visitor\NamespacedStringCollector: {sliceLength: -1}
