<html>
	<head>
		<title>Cyclic Dependency Metrics for MediaWiki</title>
		<link rel="stylesheet" type="text/css" href="../mw.css">
	</head>
	
	<body>
		<h1>Cyclic Dependency Metrics for MediaWiki</h1>
		
		<ol>
			<li><strong>Number of cycles</strong>: {{number-of-cycles}}</li>
		</ol>
	</body>
</html>
